APP_BASE_URL=https://zo2y.com
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
TMDB_TOKEN=
GOOGLE_BOOKS_KEY=
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_REPLY_TO=
EMAIL_API_KEY=
SUPPORT_ADMIN_API_KEY=
SPORTSDB_API_KEY=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
